[submodule ".registry"]
	path = .registry
	url = https://github.com/msberends/msberends.r-universe.dev
	branch = HEAD
[submodule "AMR"]
	path = AMR
	url = https://github.com/msberends/AMR
[submodule "cleaner"]
	path = cleaner
	url = https://github.com/msberends/cleaner
[submodule "plot2"]
	path = plot2
	url = https://github.com/msberends/plot2
