[submodule ".registry"]
	path = .registry
	url = https://github.com/msberends/universe
	branch = HEAD
[submodule "AMR"]
	path = AMR
	url = https://github.com/msberends/AMR
[submodule "cleaner"]
	path = cleaner
	url = https://github.com/msberends/cleaner
